* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: #1F2937;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    max-width: 550px;
    max-height: 550px;
    margin: auto;
    padding: 20px;
}

h1 {
    color: #fff;
}

h2 {
    color: #D5D4D8;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 50px;
}



span {
    color: #fff;
}

button {
    color: #fff;
    background-color: #10B981;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
}

hr {
    margin: 30px 0 10px 0;
    border: 1px solid #2F3E53;
}

.secondary-text {
    color: #10B981;
}

#set-password-length {
    margin-bottom: 15px;
}

.passwords {
    display: flex;
    justify-content: space-between;
    color: #10B981;
    font-weight: 500;
}

#password-one-el {
    display: inline-block;
    width: 210px;
    min-height: 40px;
    background-color: #273549;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    overflow-wrap: anywhere;
    margin-right: 20px;
}

#password-two-el {
    display: inline-block;
    width: 210px;
    min-height: 40px;
    background-color: #273549;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    overflow-wrap: anywhere;
}

#password-one-el:hover {
    cursor: pointer;
}

#password-two-el:hover {
    cursor: pointer;
}
